.App {
  text-align: center;
  background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(235,235,235,1) 100%);
}
.Container {
  color: #34495E;
  min-height: 100vh;
  font-size: 1rem;
}
.error {
  font-size: .7rem;
  color: red;
}